<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @test.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @test.lastname %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
